<!DOCTYPE html>
<html lang="en">
        <title> 
            RESULTS 
        </title>
        <style>
            table, th,td {
                border: 1px solid rgb(20, 19, 20);
            }
        </style>
        <body background="https://1.bp.blogspot.com/-sTxAHAxirGM/WVbAe2098nI/AAAAAAABENs/_I5sYMYgLOUzaIE7FfF4qdGX-hoAkq9SgCLcBGAs/s1600/Blog_20170624_113552.jpg">  
            <h1>
                ANSWER
            </h1>
            <h2>
                <table 
                style="background-color: rgb(236, 78, 165);width: auto;"
                >
                    <tr>
                        <th>CORRECT ANSWERS</th>
                        <th>USER ANSWERS</th>
                        <th>VALUE</th>
                    </tr>
                    <tr>
                        <td>{{result.color }}</td>
                        <td>{{result2.color}}</td>  
                        <td>{{correct.correctcolor}}</td>
                    </tr>
                    <tr>
                        <td>{{result.book }}</td>
                        <td>{{result2.book}}</td>
                        <td>{{correct.correctbook}}</td>  
                    </tr>
                    <tr>
                        <td>{{result.birthplace }}</td>
                        <td>{{result2.birthplace}}</td>
                        <td>{{correct.correctbirthplace}}</td>  
                    </tr>
                </table>
            </h2>
        </body>
</html>


